.canvas-container {
  position: relative;
}

.canvas-container .game-canvas {
  position: absolute;
  left:500px;
  top:160px;
  display: block;
  z-index: 1;
}

.canvas-container .frame-canvas {
  position: absolute;
  left: 25%;
  top: 0; 
  display: block;
  z-index: 0;
}
