@font-face {
  font-family: "PressStart2P";
  src: url("/assets/fonts/PressStart2P.ttf");
}

body {
  padding:0;
  margin:0;
  background:#111;
}

.canvas-container {
  position: relative;
}

.canvas-container .game-canvas {
  position: absolute;
  display:block;
  left:500px;
  top:160px;
  z-index: 1;
}

.canvas-container .frame-canvas {
  position: absolute;
  display:block;
  left: 470px;
  top: 0; 
  z-index: 0;
}

.ui-wrapper {
  position: relative;
}

.ui-wrapper #status { 
  display: block;
  position: absolute;
  top:10px;
  left: 880px;
  color: #bbb;
  font-family: "PressStart2P";
}
.ui-wrapper #new-game-btn { 
  display: inline-block;
  position: absolute;
  top:85px;
  left: 870px;
  color: #bbb;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  background-color: #c63b6f;
  font-family: "PressStart2P";
  border: solid #b03060 1px;
  border-radius: 0.3em;
  text-shadow: 0px 2px 0 #b03060;
  transition: all 0.1s ease-out;
}

#new-game-btn:hover {
  background-color: #c63111;
}

#new-game-btn:active {
  top: 90px;
}
